@media print {
    body {
        background: white;
        color: black;
        font-size: 12px;
    }
    h1, h2, h3 {
        color: black;
    }
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 13px;
    }
    h3 {
        font-size: 11px;
    }
    .box-dark h1 {
        color: white;
    }
    .box-border-date {
        border-bottom: solid 2px #262633;
        border-left: solid 10px #262633;
    }
    .no-print {
        display: none;
    }
}
