@media print {
    body {
        background: white;
        color: black;
        font-size: 12px;
    }
    h1, h2 {
        color: black;
    }
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 17px;
    }
    .box-dark h1 {
        color: white;
    }
    .box-border {
        border: solid 1px #222;
    }
    table {
        border: solid 1px black;
    }
    tr.header td, th {
        border: solid 1px black;
    }
    table tr:nth-of-type(2n) td, td {
        background: #D9E7ED;
        border: solid 1px black;
        padding: 0.5em;
    }
    table tr:nth-of-type(2n) td {
        background: #EFF9FC;
    }
    .no-break-page {
        break-inside: avoid-page;
    }
    .no-print {
        display: none;
    }
}