@media print {

    body {
        background: white;
        color: black;
        font-size: 5pt !important;
    }
    h1 {
        background: #006080;
        color: white;
        padding: 0.7em;
        font-size: 10pt;
    }

    table {
        border: solid black 2px;
        margin: auto 1em;
    }
    tr.header td {
        border: solid black 1px;
        background: #4A4A5D;
        color: white;
        padding: 0.5em;
    }
    tr.header td.center {
        text-align: center;
    }
    td {
        border: solid black 1px;
        padding: 0.4em;
    }

    table#sumar td.white {
        background: white;
        width: 10em;
    }
    table#sumar td#sign {
        background: white;
        width: 15em;
    }

    button {
        display: none;
    }
}
