@media print {
    body {
        background: white;
        color: black;
        font-size: 12px;
    }
    h1, h2, h3 {
        color: black;
    }
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 17px;
    }
    .box-dark, caption {
        background: #999;
    }
    .box-dark h1, caption h1 {
        color: black;
    }
    .box-border {
        border: solid 1px #222;
    }
    table {
        border: solid 1px black;
    }
    table caption {
        display: table-header-group;
    }
    tr.header td, th {
        border: solid 1px black;
        background: #bbb;
    }
    table tr:nth-of-type(2n) td, td {
        background: #deffea;
        border: solid 1px black;
        padding: 0.5em;
    }
    table tr:nth-of-type(2n) td {
        background: #eaffea;
    }
    .no-print {
        display: none;
    }
}
