@media print {

    body {
        background: white;
        color: black;
        font-size: 5pt !important;
    }
    #green {
        background: #009B68;
        padding: 1em;
    }
    h1 {
        background: #009B68;
        color: white;
        padding: 0.7em;
        font-size: 10pt;
    }

    table {
        border: solid black 2px;
        margin: auto 1em;
    }
    th {
        border: solid black 1px;
        background: #4A4A5D;
        color: white;
        padding: 0.4em;
    }
    td {
        border: solid black 1px;
        padding: 0.4em;
    }

    button {
        background: #009B68;
        color: white;
        padding: 0.3em;
        margin: 1em;
    }

    button {
        display: none;
    }
    
    #profil {
        text-align: right;
    }
    #profile_table {
        display: inline-block;
        text-align: left;
        font-size: 0.4em;
        border: solid 1px #acb;
        color: white;
    }
    #profile_table td {
        vertical-align: top;
        border: solid 1px #acb;
    }
}
