@media print {

    body {
        background: white;
        color: black;
        font-size: 1em;
    }

    #green {
        background: #009B68;
    }
    #green h1 {
        float: left;
        padding: 0em 0em 0em 2em;
    }

    h1 {
        background: #009B68;
        color: white;
        padding: 0.7em;
        font-size: 1.5em;
    }

    #investor {
        padding: 1em;
    }

    #Material, #hPraca, #hNaklady {
        display: block;
    }

    table {
        border: solid black 2px;
        margin: auto 1em;
    }
    th {
        border: solid black 1px;
        background: #4A4A5D;
        color: white;
        padding: 0.5em;
    }
    td {
        border: solid black 1px;
        padding: 0.5em;
    }

    #profil {
        text-align: right;
    }
    #profile_table {
        display: inline-block;
        text-align: left;
        font-size: 0.4em;
        border: solid 1px #acb;
        color: white;
        margin: 1em;
    }
    #profile_table td {
        vertical-align: top;
        border: solid 1px #acb;
    }

    button {
        display: none;
    }
}
