body {
    background: white;
    color: black;
    font-size: 1em;
}

#green {
    background: #009B68;
    padding: 1em
}
#green h1 {
    float: left;
    padding: 0em 0em 0em 1em;
}

h1 {
    background: #009B68;
    color: white;
    padding: 0.7em;
    font-size: 1.5em;
}

button {
    background: #009B68;
    color: white;
    border: solid 5px white;
    padding: 0.4em 1em;
    margin: 0em 0em 1em auto;
    display:block;
}

#investor {
    padding: 1em;
}

#Material, #hPraca, #hNaklady {
    display: block;
}

table {
    border: solid black 2px;
    margin: auto 1em;
}
th {
    border: solid black 1px;
    background: #4A4A5D;
    color: white;
    padding: 0.5em;
}
td {
    border: solid black 1px;
    padding: 0.5em;
}

#profil {
    text-align: right;
}
#profile_table {
    display: inline-block;
    text-align: left;
    font-size: 0.4em;
    border: solid 1px #acb;
    color: white;
    margin: 1em;
}
#profile_table td {
    vertical-align: top;
    border: solid 1px #acb;
}
