body {
    background: #404150;
    color: white;
    font-size: 14px;
}
h1, h2, h3 {
    color: white;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 18px;
}
.button.submit-btn,
a.button.submit-btn,
a.button.submit-btn:link,
a.button.submit-btn:active,
a.button.submit-btn:visited {
    background: #157A54;
}
.box-dark {
    background: #262633;
}
.box-border-date {
    border-bottom: solid 2px white;
    border-left: solid 10px white;
}
.margin-top {
    margin-top: 0.5em;
}
.margin-bottom-05 {
    margin-bottom: 0.5em;
}
.margin-bottom-2x {
    margin-bottom: 1em;
}
.margin-bottom-4x {
    margin-bottom: 2em;
}
.padding-2x {
    padding: 1em;
}
.padding-right {
    padding-right: 0.5em;
}
.padding-left {
    padding-left: 0.5em;
}
.pokus {
}
